*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

body{

background:linear-gradient(135deg,#081826,#102b46,#123b52);

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

}

.error-page{

position:relative;

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

overflow:hidden;

}

.error-content{

z-index:2;

max-width:700px;

padding:20px;

}

.error-content img{

width:120px;

margin-bottom:20px;

}

.error-content h1{

font-size:170px;

font-weight:800;

background:linear-gradient(135deg,#22c55e,#06b6d4);

background-clip:text;          /* Add this line */
-webkit-background-clip:text;

color:transparent;             /* Add this line */
-webkit-text-fill-color:transparent;


line-height:1;

}

.error-content h2{

font-size:42px;

color:#fff;

margin:20px 0;

}

.error-content p{

font-size:18px;

color:#cbd5e1;

line-height:30px;

margin-bottom:40px;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.home-btn{

padding:16px 35px;

background:linear-gradient(135deg,#22c55e,#06b6d4);

color:white;

border-radius:50px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.home-btn:hover{

transform:translateY(-5px);

}

.back-btn{

padding:16px 35px;

border:2px solid #22c55e;

background:transparent;

color:white;

border-radius:50px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.back-btn:hover{

background:#22c55e;

}

.floating{

position:absolute;

font-size:80px;

color:rgba(255,255,255,.08);

animation:float 6s ease-in-out infinite;

}

.one{

top:15%;

left:12%;

}

.two{

top:18%;

right:12%;

}

.three{

bottom:15%;

left:50%;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-25px);

}

}

@media(max-width:768px){

.error-content h1{

font-size:120px;

}

.error-content h2{

font-size:28px;

}

.error-content p{

font-size:16px;

}

.buttons{

flex-direction:column;

align-items:center;

}

}